<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bestweby.enewz">

    <!-- network permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- SD card write permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".app.BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" android:host="play.google.com" android:pathPrefix="/store/apps/details?id=com.bestweby.enewz" />
                <data android:scheme="http" android:host="@string/website_domain" android:pathPrefix="/" />
                <data android:scheme="https" android:host="@string/website_domain" android:pathPrefix="/" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.NewsTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.BlogTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.ArticleTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.StoryTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.FeedTemplateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name=".activity.PostDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/DetailsActivityTheme" />

        <activity
            android:name=".activity.PostCommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.CategoryPostsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SubCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.SearchPostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.MyFavouritesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.AppSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activity.WebContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".notification.NotificationRecieverService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="007092301d0b329669a3d8bbb6449bf9ee940879" />

    </application>

</manifest>